[submodule "lib/WDL"]
	path = lib/WDL
	url = https://github.com/justinfrankel/WDL.git
[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/xiph/opus
[submodule "lib/btstack"]
	path = lib/btstack
	url = https://github.com/bluekitchen/btstack.git
	branch = master
